{% extends "blog/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

    <h2>{{ post.title }}</h2>

    {{ post.content }}

    <div style="height: 300px;"></div>

    <hr/>

    <h3>댓글</h3>

    {% url 'blog:comment_new' post.pk as comment_new_url %}
    <div id="comment-form-wrapper">
        {% include "blog/_comment_form.html" with form=comment_form comment_new_url=comment_new_url %}
    </div>

    <hr/>

    {% comment %}
    <a href="{% url 'blog:comment_new' post.pk %}">
        댓글 작성하기
    </a>
    {% endcomment %}

    <button id="refresh-btn">새로고침</button>

    <ul id="comment-list">
        {% include "blog/_comment_list.html" with comment_list=comment_list %}
    </ul>
{% endblock %}

{% block extra-script %}
    <script>
        function reload_comment_list() {
            $.get("{% url 'blog:comment_list' post.pk %}", function(html) {
                $("#comment-list").html(html);
            });

        }
        $("#refresh-btn").click(reload_comment_list);

        /*
        document.querySelector("#comment-form").addEventListener("submit", function(e) {
            e.preventDefault();  // submit의 기본동작을 막습니다.
            console.log("submit 했습니다.");
            // Vanilla JS : 웹브라우저 기본의 JS만 쓰는 거죠.
            // jQuery : 웹기술의 대중화를 이끌어준 고마운 라이브러리. 이제는 역사의 뒤안길로 사라지는 라이브러리.
        });
         */

        $(function () {
            function handle_submit() {
                console.log("submit 했습니다.");

                $(this).ajaxSubmit({
                    error: function (xhr, status, error) {
                        $("#comment-form-wrapper").html(xhr.responseText);
                        // form을 덮어썼기에 새롭게 submit 이벤트 리스너를 등록해주어야 합니다.
                    },
                    success: function (responseText, statusText, xhr, $form) {
                        $("#comment-form-wrapper").html(responseText);
                        $form[0].reset();
                        reload_comment_list();
                    },
                })

                return false;
            }

            $(document).on("submit", "#comment-form-wrapper form", handle_submit);
        });
    </script>
{% endblock %}
